<template>
  <div class="home">
    <h1>Welcome to Vue</h1>
    <img alt="PWS logo" src="https://cdn-images-1.medium.com/max/2600/1*M8OiLAXoENK7Yi1-2yeQig.png">
  </div>
</template>

<script>
export default {
  name: "home"
};
</script>

<style scoped>
img {
  max-width: 500px;
}
</style>

